/*
  📌 Light Theme
*/
.light_theme {
  background: linear-gradient(180deg, aqua -10%, #FFFFFFF2 5%);
  background: linear-gradient(180deg, aquamarine -3%, transparent 19%);
}

.light_theme .navbar_links {
  background-color: #7fffd41c;

  & a {
    color: #2E5077;
  }
}

.light_theme .nav_btn_theme {
  border-color: #4DA1A9;
}

.light_theme .nav_btn_theme:hover {
  background-color: #4da1a93d;
}

.light_theme .hd_content {
  color: #04364A;

  & h1:first-child,
  span {
    color: #176B87;
  }
}

.light_theme .hd_btns {
  outline: 2px solid #4DA1A9;
  color: #1E686F;
}

.light_theme .hd_btns:hover {
  box-shadow: 0px 3px 0px 0px #4DA1A9;
}

.light_theme .subtitles {
  color: #04364A;
}

.light_theme .card_experience {
  box-shadow: 0 4px 20px #176B873B;
}

/* .light_theme .col-lg-6 .card_tools {
   background: #f0f8ffb0;
  } */

.light_theme .card_tools {
  background: #f0fffffc;
  background: white;
}

.light_theme .card_tools {
  /* box-shadow: 0 0 6px #176B873B; */
  /* outline: 4px solid #E2ECF0; */

  /* border: 4px solid transparent; */
  /* border-image: linear-gradient(0deg, #2E5077 20%, #4DA1A9 55%) 1; */
  position: relative;

  & h3 {
    color: #4DA1A9;
    background: linear-gradient(0deg, #2E5077 5%, #4DA1A9 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.light_theme .card_tools::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6.5px;
  background: linear-gradient(0deg, #2E5077 20%, #4DA1A9 55%);
  clip-path: inset(3px round 15px);
  z-index: -1;
}

.light_theme .card_project {
  box-shadow: 0 0 12px #176B873B;
  /* outline: 4px solid #E2ECF0; */

  & h4 {
    color: #2E5077;
  }
}

.light_theme .proj_target {
  color: #4DA1A9;
}

/* .cont_main::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  display: block;
  background: #6E6BFE;
  border-radius: 50%;
  box-shadow: 0 0 1000px 350px #6E6BFE;
  z-index: -1;
  right: 0;
  top: 100%;
  transform: translate(-80%, -80%);
  opacity: .2;
}

.cont_main::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  display: block;
  background: #6439FF;
  border-radius: 50%;
  box-shadow: 0 0 800px 250px #6439FF;
  z-index: -1;
  left: 5%;
  top: 260%;
  transform: translate(-80%, -80%);
  opacity: .2;
}

.cont_main::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  display: block;
  background: #00CCDD;
  border-radius: 50%;
  box-shadow: 0 0 800px 210px #00CCDD;
  z-index: -1;
  right: 15%;
  top: 420%;
  transform: translate(-80%, -80%);
  opacity: .2;
} */

/*
  📌 Dark Theme
*/
.dark_theme {
  background: radial-gradient(ellipse 80% 80% at 50% -20%,
      #00CCDD63,
      hsla(0, 0%, 100%, 0));
  background-color: #222;
  color: white;
}

.dark_theme .navbar_links {
  background-color: #16503c0f;

  & a {
    color: #00CCDD;
  }
}

.dark_theme .nav_btn_theme {
  border-color: #00CCDD;
}

.dark_theme .nav_btn_theme:hover {
  background-color: #7fffd41c;
}

.dark_theme .hd_content {
  color: aliceblue;

  & h1:first-child,
  span {
    color: #7CF5FF;
  }
}

.dark_theme .hd_btns {
  outline: 2px solid #478CCF;
  color: #FFF;
}

.dark_theme .hd_btns:hover {
  box-shadow: 0px 3px 0px 0px #478CCF;
}

.dark_theme .subtitles {
  color: #36C2CE;
}

.dark_theme .card_experience {
  background: #176B872E;
}

.dark_theme .card_tools {
  /* background: #176B872E; */
  outline: 2px solid #00CCDD;
}

.dark_theme .card_tools {
  position: relative;

  & h3 {
    background: linear-gradient(0deg, #36C2CE 5%, #FFF 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.dark_theme .card_project {
  background: #176B872E;
  /* box-shadow: 0 0 12px #176B873B; */
  /* outline: 2px solid #00CCDD; */

  & h4 {
    color: #36C2CE;
  }
}

.dark_theme .proj_target {
  color: rgba(245, 245, 245, .9);
  outline-color: #478CCF;
}

.dark_theme .button_cv {
  color: #00CCDD;
  border: 1px solid #00CCDD;

  & .button__icon {
    background-color: #00CCDD;
  }

  & .button__text {
    color: #FFF;
  }

  &:hover {
    border: 1px solid #478CCF;
  }
}

.dark_theme #contact code {
  color: #00cbdda9 !important;
}